# ==========================================
# R/RStudio Junk
# ==========================================
.Rhistory
.Renviron
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# ==========================================
# Data Folder Restrictions
# ==========================================
data/*
!data/
!data/ae_impacts.csv
